@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  @apply text-text-primary bg-primary-990 bg-fixed;
  --h-screen: calc(var(--vh, 1vh) * 100);
  min-height: -webkit-fill-available;
  max-height: -webkit-fill-available;
  font-size: max(1em, min(1.4vmin, 1.2vw));
  @media screen and (max-width: 400px) and (orientation: portrait),
    (max-height: 400px) and (orientation: landscape) {
    font-size: 85%;
  }
  body {
    @apply overscroll-none;
    min-height: var(--h-screen);
    max-height: var(--h-screen);
    #root {
      min-height: var(--h-screen);
      max-height: var(--h-screen);
    }
  }
}
